<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <%= erb(:'duplicates/navbar', :layout => false) %>

    <%= yield %>

  </body>
</html>
